@CHARSET "UTF-8";

.board-wrapper div {
	float: left;

}

.board-wrapper {
	display: flex;
	padding: 0px;
	border: 1px solid lightgray;
	overflow: hidden;	
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.board-image-wrapper {
	width: 150px;
	height: 150px;
}

.board-image {
	width: 150px;
	height: 150px;
}

.board-info {
	width: 727px;
	height: 150px;
	padding: 15px;
}

.board-header {
	display: block;
    overflow: hidden;
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board-category {
	font-size: 18px;
	color: #ff8000!important;
}

.board-title {
	font-size: 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}

.board-content {
	margin-top: 10px;
	font-size: 16px;
	color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.board-date {
	position: absolute;
	left: 170px;
	bottom: 10px;
}

.board-writer {
	position: absolute;
	left: 250px;
	bottom: 10px;
}

.board-btn {
	position: absolute;
	right: 15px;
	bottom: 10px;
	color: gray;
	font-size: 14px;
}

.board-btn > a{
	color: gray;
	margin-left: 5px; margin-right: 5px;
}