@CHARSET "UTF-8";

#writeTourPlan {
	width: 1200px;
    overflow:hidden;
    height:auto;
	margin: 0 auto;
	background: #f4f4f4;
}

#writeTourPlan>div {
	float: left;
}

#leftMenu {
	width: 300px;
	height: 100%;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 5px;
}

#rightContents {
	width: 900px;
	height: 100%;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 10px;
}

#leftMenu>div, #rightContents>div {
	margin-bottom: 10px;
	background: white;
	box-shadow: 0 1px 1px rgba(125, 125, 125, .2);
}

#leftMenu>div {
	width: 280px;
}

#rightContents>div {
	width: 880px;
}

#contentHeader fieldset {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
}

#attractionTab {
	height: 100%;
}

#attractionTab > div {
    height: 100%;
}

/* tabContent */
#attractionTab > div > div {
    height: 100%;
    padding-left: 3px;
    padding-right: 3px;
}

#searchResult {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

/* 검색 결과 창 */
#searchContent {
    height: 1450px;
    width: 275px;
    overflow: auto;
    overflow-x: hidden;
}

.tourSpot {
	cursor:pointer;
	height: 100px;
	width: 270px;
	margin-top: 2px; 
	margin-bottom: 2px;
	box-shadow: 0 1px 1px rgba(125, 125, 125, .2);
}

.tourSpot:HOVER {
	cursor:pointer;
	background-color: #acde83;
}

.tourSpot:HOVER *{
	color: white;
}

.tourSpotImageDiv {
	float: left;
}

.tourSpotImage {
	height: 100px;
	width: 100px;
}

.tourSpotContent {
	float: left;
	padding: 5px;
	width: 165px;
	height: 100px;
	overflow: hidden;
	color: gray;
}

