/* 전체 CSS 설정 */

.breadcrumbs {
	padding: 0px;
}

/* 스크롤바 CSS */
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track-piece {
    height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: #00aa00;
    height: 30px;
}