<script type="text/javascript" src="../../assets/js/jquery-3.1.1.min.js"></script>
<!-- header -->
<div class="modal-header">
    <!-- 닫기(x) 버튼 -->
  <button type="button" class="close" data-dismiss="modal">×</button>
  <!-- header title -->
  <h4 class="modal-title">Header</h4>
</div>
<!-- body -->
<div class="modal-body">
    Body 
</div>
<!-- Footer -->
<div class="modal-footer">
    Footer
  <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
</div>

<script>
$.ajax({
	url : "http://localhost:8081/trainTime/trainTimeList",
	dataType : "json",
	type : "GET",
	success : function(result) {
		var html = "";
		
		// 주요역
		html += "<table>";
		for (var i = 0; i < result.length; i++) {
			var data = result[i];
			console.log(data);
			if (data.stationVital > 0) {
				if (i % 5 == 0) {
					html += "<tr>";
//					console.log(data.stationTitle);
				}
				html += "<td><a href='#' onClick='stationFn(this)'>" + data.stationTitle + "</a></td>";
				
//					html += "<td>" + data.stationTitle + "</td>";
				if (i % 5 == 4) {
					html += "</tr>";
				}
			}
		}
		html += "</table>";
		$(".modal-body").html(html);
		
		html = "<ul>";
		html += "<li><a href='#'>가</a></li>";
		html += "<li><a href='#'>나</a></li>";
		html += "<li><a href='#'>다</a></li>";
		html += "<li><a href='#'>라</a></li>";
		html += "<li><a href='#'>마</a></li>";
		html += "<li><a href='#'>바</a></li>";
		html += "<li><a href='#'>사</a></li>";
		html += "<li><a href='#'>아</a></li>";
		html += "<li><a href='#'>자</a></li>";
		html += "<li><a href='#'>차</a></li>";
		html += "<li><a href='#'>카</a></li>";
		html += "<li><a href='#'>타</a></li>";
		html += "<li><a href='#'>파</a></li>";
		html += "<li><a href='#'>하</a></li>";
		html += "</ul>";
		
		// 철도역
		html += "<table>";
		for(var j = 0; j < result.length; j ++) {
			var data = result[j];
			if(data.stationVital == 0){
//				console.log(data.stationTitle); 들어왓고
				if((j-1) % 5 == 0) {
					html += "<tr>";
				}
				html += "<td><a href='#1' onClick='stationFn(this)'>" + data.stationTitle + "</a></td>";
				
				if(j % 5 == 0){
					html += "</tr>";
				}
			}
		}
		html += "</table>";
		$(".modal-footer").html(html);
	},
	err : function() {
		alert("오류");
	}
});


function stationFn(e) {
	alert(e.text);
	$("#start").val() = e.text;
}


</script>
