@CHARSET "UTF-8";

/* ==========================================================================
  font-face
   ========================================================================== */

@font-face {
	font-family:'NGNormal';
	font-style:normal;
	font-weight:400;
	src:url('../font/NanumGothic.eot');
	src:local(※), url('../font/NanumGothic.eot') format('embedded-opentype'), url('../font/NanumGothic.woff') format('woff');/*, url('../font/NanumGothic.otf') format('opentype'); */
}
@font-face {
	font-family:'NGBold';
	font-style:normal;
	font-weight:600;
	src:url('../font/NanumGothicBold.eot');
	src:local(※), url('../font/NanumGothicBold.eot') format('embedded-opentype'), url('../font/NanumGothicBold.woff') format('woff');/* , url('../font/NanumGothicBold.otf') format('opentype'); */
}



/* ==========================================================================
   Base styles & Helper
   ========================================================================== */

/* base */
h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure, figcaption {margin:0;padding:0;}
html{}
body { margin:0px; padding:0px; font:normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma , Geneva, Verdana; color:#666;}
h1, h2, h3, h4, h5, h6, strong, b, th, dt { font-weight:Normal; font-family:NGBold, "돋움", Dotum; } 
.ie8 legend,
.ie7 legend { display:none; }
legend, caption, .hidden { width:0; height:0; visibility:hidden; font-size:0; line-height:0; }
em,a {font-style:normal; text-decoration:none; color:#666; }
a:hover{font-style:bold; text-decoration:underline; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, button {background:none; border:0px; }
ul, ol{overflow:hidden;}
li{ list-style:none;}
img{vertical-align: middle; border:0px; } 

/* common_style */
.hide{display:none;}
.skip, .blind{position:absolute;overflow:hidden;visibility:hidden;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.op80{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.bgLayer { /*display:none;*/ position:fixed; top:0; left:0; z-index:500; width:100%; height:100%; background:#333; opacity:0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);-moz-opacity: 0.6;-khtml-opacity: 0.6;}
.bgLayer.hide{display:none;}
.hideScroll { overflow:hidden; }
.fixed { position:fixed; }
.txtNoneCon { min-height:15px !important; padding:50px 0 !important; text-align:center; }

.txtL { text-align:left !important; }
th.txtL,
td.txtL { padding-left:30px !important; text-align:left !important; }
.txtC { text-align:center !important; }
.txtR { text-align:right !important; }
th.txtR,
td.txtR { padding-right:15px !important; text-align:right !important; }

.bold { font-weight:bold; }
.txtBlack { color:#000; }
.txtRed { color:#D90000; }
.txtBlue { color:#4a63ae; }
a.txtBlue { color:#4a63ae;  }
a.txtBlue hover { font-style:bold; text-decoration:underline; }
.longdesc { position:relative; overflow:hidden; }
.longdesc section{ position:absolute; left:0; top:0; z-index:-1; }

.floatR { float:right; }
.floatL { float:left; }

.txt13 { font-size:13px; }

.full { width:98%; }


/*** form_element ***/
label input{margin-right:3px; vertical-align:middle;}
.textarea {border:1px solid #cdcdcd; background:#fff; }

input[type=text],
textarea { font-family:'NGNormal'; }


/*달력*/
input.datepicker{ width:130px!important; padding:2px 10px; margin-right:5px; height:27px; line-height:27px; border:0 none; }


/* ==========================================================================
   component
   ========================================================================== */


/* skip_Navi */
#skipNavi {margin:-26px 0 0 0; text-align:center; background:whitesmoke;}
#skipNavi a {padding:0 6px; line-height:25px;}
#skipNavi a:focus, #skipNavi a:hover {display:inline-block; margin-top:25px; color:#FFF; background:gray;}

/*탑버튼*/
#TopBtn { display:none; position:fixed; bottom:266px; left:50%; margin-left:530px;}
#TopBtn.hidden { display:none !important;}
#TopBtn a { overflow:hidden; display:block; width:44px; height:44px; text-indent:-9999px; background:url('/static/images/common/btn/btnTop.gif') no-repeat;}
.ie7 #TopBtn.end { bottom:251px !important; }

/* error */
.errorCon { overflow:hidden; padding:40px 30px 60px 30px; text-align:center; background-color:#fcfcfc; border:1px solid #e7e7e7; }


/*캘린더*/

/*!
 * jQuery UI Datepicker 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 210px; display: none; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: .2em 0; background:#507bcb; }
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next { position: absolute; top: 2px; width: 1.8em; height: 1.8em; color:#fff; }
.ui-datepicker .ui-datepicker-prev { left: 2px; }
.ui-datepicker .ui-datepicker-next { right: 15px; }
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; top: 50%; margin-top: -5px; }
.ui-datepicker .ui-datepicker-prev span{ overflow:hidden; width:15px; height:14px; text-indent:-9999px; background:url('/static/images/common/ico/arrowLeft.gif') no-repeat; }
.ui-datepicker .ui-datepicker-next span{ overflow:hidden; width:15px; height:14px; text-indent:-9999px; background:url('/static/images/common/ico/arrowRight.gif') no-repeat; }
.ui-datepicker .ui-datepicker-prev-hover span { background-position:0px -14px; }
.ui-datepicker .ui-datepicker-next-hover span { background-position:0px -14px; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; font-size:14px; font-weight:bold; color:#fff; }
.ui-datepicker .ui-datepicker-title select { font-size: 1em; margin: 1px 0; }
.ui-datepicker select.ui-datepicker-month-year,
.ui-datepicker select.ui-datepicker-month { width: auto;  }
.ui-datepicker select.ui-datepicker-month { margin-left:5px;  }
.ui-datepicker table { width: 100%; font-size: .9em; border-collapse: collapse; margin: 0 0 .4em; border:1px solid #d9d9d9; }
.ui-datepicker th { width:29px; height:25px; text-align: center; font-weight: bold; border-bottom:1px solid #cccccc; padding:0px; background-color:#fff; }
.ui-datepicker td { border: 0; padding:0px; border-bottom:1px solid #e7e9ea; font-weight:bold; background:#f0f4f7; }
.ui-datepicker td:first-child a { color:#ef8167;}
.ui-datepicker td + td { border-left:1px solid #e7e9ea;}
.ui-datepicker td span,
.ui-datepicker td a { display: block; padding-top:2px; width:29px; height:23px; font-size:12px; text-align: center; text-decoration: none; }
 .ui-datepicker td a:hover, .ui-datepicker td a:focus,
  .ui-datepicker .ui-state-active, .ui-datepicker .ui-state-hover { color:#fff; background:#507bcb;}
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding: 0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width: auto; overflow: visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }



/* ==========================================================================
   fort / admin common
   ========================================================================== */

/* bbs-style */
.bbsInfo > tbody tr:first-child th,
.bbsInfo > tbody tr:first-child td,
.bbsInfo > tbody tr .first,
.bbsList > tbody tr:first-child th,
.bbsList > tbody tr:first-child td,
.bbsList > tbody tr .first,
.bbsView > thead tr .first,
.bbsWrite > tbody tr:first-child th,
.bbsWrite01 > tbody tr:first-child th { background-image:none; }

.bbsInfo01 > thead tr th:first-child,
.bbsInfo01 > tbody tr td:first-child { border-left:0px; }


/* bbsInfo */
.tableWrap > .bbsInfo { overflow:hidden; width:100%; }
.bbsInfo > thead th { padding:6px 0 7px 0; font-size:14px; color:#222; background-color:#f6f6f6; border-bottom:1px solid #454545; }
.bbsInfo > tbody th { font-size:14px; color:#222; background:#f6f6f6 url('/static/images/common/bg/bgTable.gif') left top repeat-x; }
.bbsInfo > tbody td { padding:6px 0 7px 0; text-align:center; background:url('/static/images/common/bg/bgTable.gif') left top repeat-x; }

.tableWrap01 > .bbsInfo01 { overflow:hidden; width:100%; }
.bbsInfo01 > thead th { padding:6px 0 7px 0; font-size:13px; color:#222; background-color:#f6f6f6; border:1px solid #d3d3d3; border-width:0 0 1px 1px; }

.tableWrap01 > .bbsInfo01 { overflow:hidden; width:100%; }
.tableWrap01 > .bbsInfo01 thead th { padding:8px 0 9px 0; text-align:center; }
.tableWrap01 > .bbsInfo01 tbody tr th:first-child { border-left:0px; }
.tableWrap01 > .bbsInfo01 tbody th,
.tableWrap01 > .bbsInfo01 tbody td { padding:8px 0 9px 0; text-align:center; }
.tableWrap01 > .bbsInfo01.txtL tbody th,
.tableWrap01 > .bbsInfo01.txtL tbody td { padding:8px 0 9px 20px; text-align:left; }
.tableWrap01 > .bbsInfo01 tbody th.txtC,
.tableWrap01 > .bbsInfo01 tbody td.txtC { padding:8px 0 9px 0; text-align:center; }
.tableWrap01 > .bbsInfo01 .line { border-left:1px solid #d3d3d3 !important; }
.tableWrap01 > .bbsInfo01 tbody th { font-family:'NGBold'; color:#666; background-color:#f6f6f6; border-left:1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; }
.tableWrap01 > .bbsInfo01 tbody th > strong { color:#000; }
.tableWrap01 > .bbsInfo01 tbody td { border-left:1px solid #d3d3d3; border-bottom:1px solid #d3d3d3;}
.tableWrap01 > .bbsInfo01 tbody td > strong { font-size:14px; color:#000; }




/* 게시판 검색 영역*/
.listSearch{ overflow:hidden; margin:40px 0; padding:20px 0; text-align:center; background-color:#f6f6f6; border:1px solid #eaeaea; border-width:1px 0 1px 0; font-family:"나눔고딕", NanumGothic, NGNormal; }
.ie7 .listSearch { padding-bottom:5px; }
.listSearch * { vertical-align:top; }
.listSearch select { margin-top:3px; }
.listSearch span.search { display:inline-block; width:190px; height:25px; padding:2px 0 0 5px; text-align:left; background:url('/static/images/common/btn/bgInputSearch.gif') no-repeat; }
.listSearch span.search input { width:180px; border:0px; background:transparent; }

/* 이전글, 다음글 */
/* .bbsNavi { margin-top:20px; border-top:1px solid #8e8e8e; } 7.18 수정 밑에 추가 */
.bbsNavi dl:first-child { margin-top:20px; border-top:1px solid #8e8e8e !important;  }
.bbsNavi dl { padding:8px 0;overflow:hidden; border:1px solid #e4e4e4; border-width:1px 0 1px 0; }
.bbsNavi dl.prev { border-top:0px; }
.bbsNavi dt { float:left; padding-left:45px; font-size:13px; color:#333333;}
.bbsNavi .next dt { background:url(/static/images/common/bg/bbsNaviNext.gif) no-repeat 15px center;}
.bbsNavi .prev dt { background:url(/static/images/common/bg/bbsNaviPrev.gif) no-repeat 15px center;}
.bbsNavi dd { float:right; width:800px; padding:0 20px 0 30px; background:url('/static/images/common/bg/bbsNavi.gif') left center no-repeat;}
.bbsNavi dd a { display:block; font-size:13px; }
.bbsNavi dd a:hover,.bbs_navi dd a:focus,.bbs_navi dd a:active { text-decoration:underline;}

/* 게시판 : 페이지 네비 */
.pageNavi { clear:both; margin:40px 0; text-align:center; height:30px; font-family:"나눔고딕", NanumGothic, NGNormal;}
.pageNavi a { display:inline-block; margin:0 3px;  }
.pageNavi > span { margin:0 10px; }
.pageNavi > span a:first-child { background:none; }
.pageNavi > span a { min-width: 15px; margin: 0 1px 0 3px; padding: 2px 0px 2px 7px; overflow:hidden; color:#666; font-size:12px; vertical-align:middle; border:1px solid #fff; border-width:0 1px; /* border:1px solid #fff; border-width:0 1px;  */ background:url(/static/images/common/bg/bgPaging.gif) center left no-repeat; text-align:center; }
/* .pageNavi > span a:hover, .board-paging span a:focus, .board-paging span a:active, */
.pageNavi > span strong { display:inline-block; min-width:23px; height:18px; margin:0 1px; padding:2px 0; color:#fff; border:1px solid #4a63ae; font-size:13px; vertical-align:middle; background-color:#4a63ae; font-family:NGNormal; text-align:center; }
.pageNavi > span strong + a { padding-left:0px; background:none; }


/* ==========================================================================
   button
   ========================================================================== */
.btnGroup { overflow:hidden; margin:30px 0; text-align:right; }
.btnGroup * { vertical-align:middle; }
.btnGroup button,
.btnGroup input { border:0px; cursor:pointer; vertical-align:middle; }
.btnGroup.posi { position:relative; }
.btnGroup.posi > span { position:absolute; top:0px; left:0px; }
.btnGroup01 { overflow:hidden; margin:-20px 0 10px 0; padding-bottom:10px; text-align:center; border-bottom:1px solid #eaeaea; }

input.btnGray,
input.btnGray01,
input.btnBlue,
input.btnBlue01 { height:28px; border:0px; }

.btnWhite { display:inline-block; width:70px; height:18px; padding:5px 0; text-align:center; font-family:NGBold; font-size:12px; color:#666; background:url('/static/images/common/btn/btnWhite.gif') no-repeat; }
.btnWhite01 { display:inline-block; width:81px; height:18px; padding:5px 0; text-align:center; font-family:NGBold; font-size:12px; color:#000; background:url('/static/images/common/btn/btnWhite01.gif') no-repeat; }

.btnGray { display:inline-block; width:71px; height:18px; padding:5px 0; text-align:center; font-family:NGBold; font-size:12px; color:#fff; background:url('/static/images/common/btn/btnGray.gif') no-repeat; }
.btnGray01 { display:inline-block; width:82px; height:18px; padding:5px 0; text-align:center; font-family:NGBold; font-size:12px; color:#fff; background:url('/static/images/common/btn/btnGray01.gif') no-repeat; border:0px; }
.btnGray02 { display:inline-block; background:url('/static/images/common/btn/btnGray02.gif') no-repeat; }
.btnGray02 > span { display:block; height:18px; padding:5px 15px; text-align:center; font-family:NGBold; font-size:12px; color:#fff; background:url('/static/images/common/btn/btnGray02_right.gif') top right no-repeat; }

.btnBlue { display:inline-block; width:71px; height:18px; padding:5px 0; text-align:center; font-family:NGBold; font-size:12px; color:#fff; background:url('/static/images/common/btn/btnBlue.gif') no-repeat; }
.btnBlue01 { display:inline-block; width:82px; height:18px; padding:5px 0; text-align:center; font-family:NGBold; font-size:12px; color:#fff; background:url('/static/images/common/btn/btnBlue01.gif') no-repeat; }
.btnBlue02 { display:inline-block; background:url('/static/images/common/btn/btnBlue02.gif') no-repeat; }
.btnBlue02 > span { display:block; height:18px; padding:5px 15px; text-align:center; font-family:NGBold; font-size:12px; color:#fff; background:url('/static/images/common/btn/btnBlue02_right.gif') top right no-repeat; }


/* ==========================================================================
   popup
   ========================================================================== */
  
.bgLayer { position:fixed; top:0; left:0; z-index:3000; width:100%; height:100%; background:#333; opacity:0.6; }
.popCon { display:none; position:fixed; top:20%; left:38%; z-index:3001; margin-left:-50px; width:500px !important; max-height:540px; background:#fff; }
.popCon .popHeader { padding:15px 20px; background-color:#4a63ae; }
.popCon .popHeader h1 { font-size:15px; padding:1px 0 2px 30px; color:#fff; line-height:1.0; background:url('/static/images/common/bul/bulPopTit.gif') no-repeat; }
.popCon .popContent { padding:30px 10px; height:388px; overflow-y:auto; overflow-x:hidden; }
.popCon .btnClosePop { position:absolute; top:13px; right:17px; }
.popCon .btnClosePop2 { position:absolute; top:13px; right:17px; }
.popCon .popContent .listUtill { padding-left:10px; margin-bottom: 8px; text-align:left; }
.popCon .popContent .listUtill strong { color:#4a63ae; }
.popCon .popContent .tableWrap { border:2px solid #6b6b6b; border-width:2px 0 0 0; }
.popCon .popContent .bbsList { width:100%; color:#666; font-family:'돋움', Dotum, Arial; }
.popCon .popContent .bbsList tbody th { padding-left:0px; font-weight:bold; text-align:center; }
.popCon .popContent .bbsList thead th { padding:5px 0 6px 0; border:0px; font-size:12px; }
.popCon .popContent .bbsList tbody td { padding:5px 0 6px 0; border-bottom:1px solid #e3e3e3; background:none; font-size:12px; }
.popCon .popContent .scroll { overflow-y:auto; width:100%;  border-top:1px solid #e3e3e3; }
.popCon .popContent .scroll tr.on td { background-color:#f8f8f8; }


/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
	/* #header, #snb, #footer{display:none;} */
}